# Unix
alias tlf="tail -f"
alias ln='ln -v'
alias mkdir='mkdir -p'
alias ...='../..'
alias l='ls'
alias ll='ls -al'
alias lh='ls -Alh'
alias -g G='| grep'
alias -g M='| less'
alias -g L='| wc -l'
alias -g ONE="| awk '{ print \$1}'"
alias bc='bc -l -q'

###
# time to upgrade `ls`

# use coreutils `ls` if possible…
hash gls >/dev/null 2>&1 || alias gls="ls"

# always use color, even when piping (to awk,grep,etc)
if gls --color > /dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi;
export CLICOLOR_FORCE=1

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias ls='gls -AFh ${colorflag} --group-directories-first'
alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions
###

# File size
alias fs="stat -f \"%z bytes\""

# git
alias gci="git pull --rebase && rake && git push"
alias gs="git status"
alias gc="git branch | cut -c 3- | selecta | xargs git checkout"
alias gr="git branch --all --remotes | cut -c 3- | cut -d '/' -f 2-10 | selecta | xargs git checkout"
alias gd="git branch | cut -c 3- | selecta | xargs git branch -D"
alias gdm="git branch --merged | cut -c 3- | grep -v -e dev -e release-candidate -e master | xargs git branch -D"
alias gps="git push origin HEAD"
alias gpl="git pull"
alias gfh="git fix HEAD"
alias gap="git add -p"
alias gcom="git com"
alias grc="git rebase --continue"
alias hpr="hub pull-request -b"

# Docker
alias d=docker
alias dc=docker-compose
alias dcalc=/usr/bin/dc # ^name collision
alias dstop-all="docker stop \$(docker ps -a -q)"
alias drm-all="docker rm \$(docker ps -a -q)"
alias joyent-docker=". ~/bin/joyent-docker-setup"
alias drmi="docker images | tail -n +2 | selecta | tr -s ' ' | cut -d ' ' -f 3 | xargs docker rmi"
alias drmc="docker ps -a | tail -n +2 | selecta | cut -d ' ' -f 1 | xargs docker rm"
alias dstop="docker ps | tail -n +2 | selecta | cut -d ' ' -f 1 | xargs docker stop"

# Ruby
alias frbe="foreman run bundle exec"

alias js=node

# Misc
alias sov="ansible-playbook -i ./hosts site.yml"

#Tmux
alias tmux="TERM=screen-256color-bce tmux"

#Vim
alias vi="vim"

#Emacs
alias em="emacsclient"
